*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
    
}
.nav-logo{
    height:50px;
    width:100px; 
    
   
}
.logo{
     background-image:url("/CSS/Project/Amazon/amazon_logo.png");
    background-size:cover;
    height:60px;
    width:100%;
    
}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}

/* Box02 */

.location{
    height: 50px;
    align-content: center;
}
.address{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:20px;

}

.loc_logo{
    display:flex;
    /* align-items:center; */
    text-align:center;
}
.address2{
    font-size:1rem;
    
}

/* Box03 */
.search{
    justify-content: space-evenly;
    height:40px;
    width: 650px;
    display:flex;
    background-color: blanchedalmond;
    border-radius: 3px;
    
}
.search:hover{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    border:3px solid rgb(255, 187, 0);
}
.all{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    border:none;
}
.bar{
    width:100%;
    border:none;
    font-size: 1rem;
}
.icon{
    display:flex;
    width:40px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:#0f1111;
    background-color: rgb(255, 187, 0);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Language */      
.language{
    height:50px;
    display:flex;
    align-items:center;
    font-weight: bold;

}

/* Box04 */
.login{
    height:50px;
    align-content:center;

}
.order{
    height: 50px;
    align-content:center;
}
span{
    font-size: 0.85rem;
}
.two{
    
    font-weight: 700;
    font-size:0.95rem;
}
/* Box05 */

.cart i{

    font-size: 1.7rem;
}
.cart{
    height:50px;
    font-size: 1rem;
    font-weight: 700;
    align-content:center;
}

/* Pannel-bar */
.pannel{
    height:40px;
    color: white;
    background-color: #222f3d;
   display:flex;
   align-items:center;
   justify-content: space-evenly;
    
}
.pannel_line p{
    height:40px;
   display:inline;
   margin-left:40px;
}
.pannel_line{
height:40px;
    width:60%;
    font-size: 0.95rem;
    align-content: center;
}
.pannel_all{
   height:40px;
    font-size: 1rem;
     font-weight: 700;
     align-content: center;
}
.pannel_deals{
    height:40px;
    font-size:1rem;
    font-weight: 700;
    align-content: center;
}

/* hero */
.hero{
    background-image: url("/CSS/Project/hero_image.jpg");
    height:300px;
    background-size: cover;
    display:flex;
     align-items: flex-end;
     justify-content: center;
     
    
    
}

.text{
    height: 40px;
    background-color: white;
    text-align:center;
    align-content: center;
    font-size: 0.85rem;
    width:95%;
    align-items: center;
    margin-bottom:3%;
    /* align-items: center;
    justify-content: center; */
}
.text a{
    font-size: 0.85rem;
    text-decoration: none;
    color: #007185;
}

/* Shopping  */
.shop{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    margin-top:10px;
    margin-bottom: 10px;
    height:400px;
    /* border: 2px solid black; */
    width:22%;
    background-color: white;
    border:none;
    padding: 20px 0px 15px;
}

.box1_img{
    background-image: url("/CSS/Project/Amazon/box1_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box2_img{
    background-image: url("/CSS/Project/Amazon/box2_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box3_img{
    background-image: url("/CSS/Project/Amazon/box3_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box4_img{
    background-image: url("/CSS/Project/Amazon/box4_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop_two{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
    
}
.box5_img{
    background-image: url("/CSS/Project/Amazon/box5_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box6_img{
    background-image: url("/CSS/Project/Amazon/box6_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box7_img{
    background-image: url("/CSS/Project/Amazon/box7_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box8_img{
    background-image: url("/CSS/Project/Amazon/box8_image.jpg");
    background-size:cover;
    height:300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Multi pic */
/* .img01{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}

.img11{
    background-image: url("/CSS/Project/Amazon/phone.jpg");
}
.img12{
    background-image: url("/CSS/Project/Amazon/watch.jpg"); 

}
.img13{
    background-image: url("/CSS/Project/Amazon/headphone.jpg");
}
.img14{
    background-image: url("/CSS/Project/Amazon/tab.jpg");
}
.img11, .img12, .img13, .img14{
    height:100px;
    width:130px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color:#000;
    font-size: 14px;
    

} */

/* .box p{
    color:#007185;
    margin-top: 10px;
} */
/* multi pic */



.img01{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;

    
}

.img11{
    background-image: url("/CSS/Project/Amazon/phone.jpg");
   height:100px;
   width:140px;
 background-position: center;
   background-size:cover;
}

.img12{
    background-image: url("/CSS/Project/Amazon/watch.jpg"); 
     height:100px;
   width:140px;
    background-size:cover;
    background-position: center;
}
.img13{
    background-image: url("/CSS/Project/Amazon/headphone.jpg");
    background-size:cover;
    height:100px;
   width:140px;
    /* margin-top: 50px; */
    background-position: center;
   
}
.img14{
    background-image: url("/CSS/Project/Amazon/tab.jpg");
    background-size:cover;
     height:100px;
   width:140px;
       /* margin-top: 50px; */
     background-position: center;
     
}




.img02{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;   
}
.img21{
    background-image: url("/CSS/Project/Amazon/clothing.jpg");
   height:100px;
   width:140px;
 background-position: center;
   background-size:cover;
}
.img22{
    background-image: url("/CSS/Project/Amazon/tracker.jpg"); 
     height:100px;
   width:140px;
    background-size:cover;
    background-position: center;
}
.img23{
    background-image: url("/CSS/Project/Amazon/equipment.jpg");
    background-size:cover;
    height:100px;
   width:140px;
    /* margin-top: 50px; */
    background-position: center;
}
.img24{
    background-image: url("/CSS/Project/Amazon/deals.jpg");
    background-size:cover;
     height:100px;
   width:140px;
       /* margin-top: 50px; */
     background-position: center;  
}



.img03{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;   
}
.img31{
    background-image: url("/CSS/Project/Amazon/women.jpg");
   height:100px;
   width:140px;
 background-position: center;
   background-size:cover;
}
.img32{
    background-image: url("/CSS/Project/Amazon/men.jpg"); 
     height:100px;
   width:140px;
    background-size:cover;
    background-position: center;
}
.img33{
    background-image: url("/CSS/Project/Amazon/girls.jpg");
    background-size:cover;
    height:100px;
   width:140px;
    /* margin-top: 50px; */
    background-position: center;
}
.img34{
    background-image: url("/CSS/Project/Amazon/boys.jpg");
    background-size:cover;
     height:100px;
   width:140px;
       /* margin-top: 50px; */
     background-position: center;  
}


.img04{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;   
}
.img41{
    background-image: url("/CSS/Project/Amazon/pc.jpg");
   height:100px;
   width:140px;
 background-position: center;
   background-size:cover;
}
.img42{
    background-image: url("/CSS/Project/Amazon/xbox.jpg"); 
     height:100px;
   width:140px;
    background-size:cover;
    background-position: center;
}
.img43{
    background-image: url("/CSS/Project/Amazon/playstation.jpg");
    background-size:cover;
    height:100px;
   width:140px;
    /* margin-top: 50px; */
    background-position: center;
}
.img44{
    background-image: url("/CSS/Project/Amazon/switch.jpg");
    background-size:cover;
     height:100px;
   width:140px;
       /* margin-top: 50px; */
     background-position: center;  
}

.tittle{
    display:flex;
    justify-content: space-evenly;
    margin-right:70px;
    font-size: 0.85rem;
    color:#0f1111;
    margin-bottom: 60px;
    /* border:2px solid black; */
}

.box p{
    color: #007185;
     margin-left: 1rem;
}
.box h2{
    margin-left: 1rem;
}

/* footer */
.foot-pannel1{
    
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 20px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 20px;
    color:#dddddd;
}
ul p{
    font-weight: 700;
}

/* foot-logo */
.foot-pannel3{
    background-color: #222f3d;
    color:white;
    border-top: 2px solid white;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.space{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    border:2px solid white;
    width:200px;
    height:35px;
}
.logoo{
     background-image:url("/CSS/Project/Amazon/amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;
}
.foot-pannel4{
    /* display: flex;
     justify-content: center;
    align-items: center;   */
    font-size: 0.85rem;
    background-color: #0f1111;
    height:40px;
    color: white;
     text-align: center;
     padding-top: 10px;
      font-size: 0.7rem;
    
}

.page a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
